@model HackAtHome.Models.Zahtjev

@{
    ViewData["Title"] = "Kreiranje zahtjeva";
}



@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <link rel="stylesheet" href="~/css/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="~/css/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="~/css/assets/css/untitled.css">
</head>

<body class="bg-gradient-primary-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" id="pozadinskaSlika"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Kreiranje zahtjeva</h4>
                                    </div>
                                    <form asp-action="Create" class="user">
                                        <div class="form-group">
                                            <!--  <div class="dropdown show">
            <button class="btn btn-primary btn-block dropdown-toggle" aria-expanded="true" data-toggle="dropdown" type="button" style="border-radius: 160px;background: var(--secondary);padding:12px;height: 50px;">Odabir vrste pomoći</button>
            <div class="dropdown-menu">
                <a class="form-check-input" asp-for="Tutor" class="dropdown-item" href="#">Tutor</a>
                <a class="dropdown-item" href="#">Medicinska pomoć</a>
                <a class="dropdown-item" href="#">Briga za osobu u izolaciji</a>
                <a class="dropdown-item" href="#">Osoba sa poteškoćama</a>
                <a class="dropdown-item" href="#">Dostava namirnica</a>
        </div>
    </div>-->
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="Tutor" /> @Html.DisplayNameFor(model => model.Tutor)
                                                </label>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="MedicinskaPomoc" /> @Html.DisplayNameFor(model => model.MedicinskaPomoc)
                                                </label>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="Vakcinisan" /> @Html.DisplayNameFor(model => model.Vakcinisan)
                                                </label>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="Dostava" /> @Html.DisplayNameFor(model => model.Dostava)
                                                </label>
                                            </div>
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="ZnakovniJezik" /> @Html.DisplayNameFor(model => model.ZnakovniJezik)
                                                </label>
                                            </div>
                                        </div><label>Opis:</label>
                                        <div  class="form-group"><textarea asp-for="Opis"class="form-control" style="border-radius: 10px;height: 250px;"></textarea></div><button class="btn btn-primary btn-block text-white btn-user" value="Create" type="submit" style="background: var(--secondary);">Pošalji zahtjev</button>
                                        <hr>
                                    </form>
                                    <div class="text-center"></div>
                                    <div class="text-center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
</body>

</html>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
