@model HackAtHome.Models.Zahtjev

@{
    ViewData["Title"] = "Delete";
}

@if (User.IsInRole("Volonter1") || User.IsInRole("Volonter2"))
{
    <h1>Prihvati zahtjev</h1>
}
else
{
    <h1>Obriši zahtjev</h1>
}



<div>
    <hr />
    <dl class="row">
        @if (Model.Opis.Contains("+"))
        {
            var a = Model.Opis;
            var niz = a.Split("+");
            var ime = niz[niz.Length - 1];
            <dt class="col-sm-2">
                Ime i prezime korisnika:
            </dt>
            <dd class="col-sm-10">
                @ime
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicinskaPomoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicinskaPomoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vakcinisan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vakcinisan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dostava)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dostava)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZnakovniJezik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZnakovniJezik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <!--    <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUserId)
        </dd>
    -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <!--<dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Zavrseno)
    </dt>
       <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Zavrseno)
    </dd>  -->
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @if (User.IsInRole("Volonter1") || User.IsInRole("Volonter2"))
        {
            <input type="submit" value="Prihvati zahtjev" class="btn btn-danger" />
        }
        else
        {
            <input type="submit" value="Obriši zahtjev" class="btn btn-danger" />
        }

        <!--    <a asp-action="Index">Back to List</a>-->
    </form>
</div>
