@model IEnumerable<HackAtHome.Models.Zahtjev>

@{
    ViewData["Title"] = "Index";
}

<body style="background-color: #455a64">
    <div style="color:white">
        <h1>Pregled svih zahtjeva</h1>

        <p>
            <!--   <a asp-action="Create">Create New</a> -->
        </p>
    </div>

    <br><br>
    <div style="background: #455a64 url(css/template/images/pattern_bg.png) fixed;max-width: 90%;min-width: 90%; margin:auto;" ;>
        <table class="table">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="padding:2px">
                        <td>
                            <div class="row" style="max-width: 100%;min-width: 100%;">
                                <div class="col-lg-6 mb-4" style="width: max;text-align: center;max-width: 100%;min-width: 100%;">
                                    <br><br>
                                    <div class="card shadow mb-4" style="width: 900px;text-align: center;max-width: 90%;min-width: 90%;margin: auto;">

                                        <div class="card-header py-3">
                                            <h5 style="color:black">Zahtjev br. @Html.DisplayFor(modelItem => item.Id) </h5>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="row align-items-center no-gutters">
                                                    <div class="col mr-2" text-align: left;>
                                                        <span class="text-xs" style="color: rgb(0,0,0); font-size: 14px; text-align: center;">
                                                            <br>
                                                            <h6>@Html.DisplayFor(modelItem => item.Opis)</h6>
                                                            <br><br>
                                                        </span>
                                                        <h5>Osobine zahtjeva:</h5>
                                                        <h6>Mecicinska pomoć: @Html.DisplayFor(modelItem => item.MedicinskaPomoc)</h6>
                                                        <h6>Dostava: @Html.DisplayFor(modelItem => item.Dostava)</h6>
                                                        <h6>Znakovni jezik: @Html.DisplayFor(modelItem => item.ZnakovniJezik)</h6>
                                                        <h6>Vakcinacija: @Html.DisplayFor(modelItem => item.Vakcinisan)</h6>
                                                        <h6>Tutor: @Html.DisplayFor(modelItem => item.Tutor)</h6>
                                                        <h6>Vrijeme kreiranja zahtjeva: @Html.DisplayFor(modelItem => item.CreatedDateTime)</h6>
                                                        <br />

                                                        @if (User.IsInRole("Volonter1") || User.IsInRole("Volonter2"))
                                                        {
                                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary" role="button">Prihvati zahtjev</a>
                                                        }
                                                        else
                                                        {
                                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" role="button">Izmijeni zahtjev</a>
                                                            <a asp-action = "Details" asp-route-id = "@item.Id" class="btn btn-primary" role="button" >Pogledaj zahtjev</a>
                                                            <a asp-action = "Delete" asp-route-id = "@item.Id" class="btn btn-primary" role="button">Obriši zahtjev</a>
                                                        }

                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
