@model IEnumerable<HackAtHome.Models.Zahtjev>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KorisnikId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicinskaPomoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vakcinisan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dostava)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZnakovniJezik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zavrseno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KorisnikId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicinskaPomoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vakcinisan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dostava)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZnakovniJezik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zavrseno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
