@model HackAtHome.Models.Volonter

@{
    ViewData["Title"] = "Details";
}



<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #445c64;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

</style>
<body>
    <div style="min-width:100%;">
        <div style="color: white">
            <h1>Pregled profila</h1>
            <h4>Volonter</h4>
        </div>
        <hr />

        <div class="container" style="    background-color: #233842;  ">
            <div class="main-body">

                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb" class="main-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="Index.cshtml">Početna</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profil</li>
                    </ol>
                </nav>
                <!-- /Breadcrumb -->

                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        <div class="card" >
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="@Url.Content("~/img/profilna.png")" alt="Admin" class="rounded-circle" width="150">
                                    <div class="mt-3">
                                        <h4>@Html.DisplayFor(model => model.Ime) @Html.DisplayFor(model => model.Prezime)</h4>
                                        <p class="text-secondary mb-1">Volonter</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Ime</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Html.DisplayFor(model => model.Ime)
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Prezime</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Html.DisplayFor(model => model.Prezime)
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        dhuseinspahic@email.com
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Telefon</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Html.DisplayNameFor(model => model.BrojTelefona)
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Grad</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Html.DisplayNameFor(model => model.Grad)
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Opis</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Html.DisplayNameFor(model => model.Opis)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters-sm">
                            <div class="col-sm-6 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">@Html.DisplayFor(model => model.Ime) :</i>Predispozicije</h6>
                                        <small>Medicinski radnik</small>
                                        <h6>  @Html.DisplayFor(model => model.MedicinskiRadnik)</h6>

                                        <small>Znakovni jezik</small>

                                        <h6>  @Html.DisplayFor(model => model.ZnakovniJezik)</h6>

                                        <small>Vakcinacija</small>
                                        <h6>  @Html.DisplayFor(model => model.Vakcinisan)</h6>

                                        <small>Tutor</small>
                                        <h6>  @Html.DisplayFor(model => model.Tutor)</h6>

                                        <small>Dostava</small>
                                        <h6>  @Html.DisplayFor(model => model.Dostava)</h6>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">@Html.DisplayFor(model => model.Ime) :</i>Historija zahtjeva</h6>
                                        <h6 class="d-flex align-items-center mb-3">Ukupan broj obrađenih zahtjeva: 8</h6>
                                        <small>Medicinska pomoć</small>
                                        <div class="progress mb-3" style="height: 5px">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 0%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <small>Znakovni jezik</small>
                                        <div class="progress mb-3" style="height: 5px">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <small>Vakcinacija</small>
                                        <div class="progress mb-3" style="height: 5px">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 0%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <small>Tutor</small>
                                        <div class="progress mb-3" style="height: 5px">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <small>Backend API</small>
                                        <div class="progress mb-3" style="height: 5px">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
