@model HackAtHome.Models.Volonter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Volonter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojTelefona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicinskiRadnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicinskiRadnik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dostava)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dostava)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZnakovniJezik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZnakovniJezik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vakcinisan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vakcinisan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeografskaSirina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeografskaSirina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeografskaDuzina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeografskaDuzina)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
